footer.footer.container
  .footer__wrapper
    .footer__logo
      img(src="img/logo-faust.svg")
    .footer__inner
      .footer__content
        a(href='#') Политика конфиденциальности
        span Все права защищены.
          br
          | FaustConsulting © 2025.
      .footer__copyright
        .footer__copyright-text Сделано
        a(href='https://www.inesi-agency.com/', target='_blank').footer__copyright-logo
          img(src="img/logo-inesi.svg")
