header.header
  .header__wrapper.container
    a.header__logo(href="")
      img(src="img/logo-faust.svg")

    .header__menu
      nav.header__nav
        a(href="#team").header__link Наша команда
        a(href="hub.html").header__link Наши продукты
        a(href="#clients").header__link Наши клиенты

      +button({
        text: 'Начнем работать',
        href: '#callback'
      }).header__button

    .header__hamburger
      span
      span
      span
