$maxViewportWidth: 1440;
$minViewportWidth: 375;

$laptop: 1920.98;
$tablet: 1109.98;
$mobile: 767.98;
$mobile-s: 480.98;
$screen-sizes: (
  lg: $laptop,
  md: $tablet,
  sm: $mobile,
  xs: $mobile-s,
);

$gap: 15;
