@use '../../base/helpers' as *;

.box-header {
  $self: &;

  display: flex;
  gap: 0 20px;
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 20px;
  }

  &--small {
    #{$self}__title {
      @include fontH2;

      @include tablet {
        @include fontH4;
      }
    }
  }

  &__title {
    @include fontH1;

    @include tablet {
      @include fontH4;
    }
  }

  &__description {
    @include fontT2;
    max-width: 520px;

    margin-top: 20px;

    @include tablet {
      @include fontT4;
      max-width: 470px;

      margin-top: 10px;
    }
  }

  &__additional {
    display: flex;
    margin-left: auto;
  }
}
