@use '../../base/helpers' as *;

.breadcrumbs {
  @include fontT4;

  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 5px 0;

  @include tablet {
    @include fontT3;
  }

  &__item {
    &:not(:first-child) {
      &::before {
        content: '/';
        color: #9EAAF5;
        margin: 0 10px;

        @include tablet {
          margin: 0 5px;
        }
      }
    }

    &:last-child {
      pointer-events: none;
    }
  }

  a {
    color: #9EAAF5;
    transition: color var(--transition-duration);

    @include hover {
      color: var(--color-accent);
    }
  }
}
