@use '../../base/helpers' as *;

.client-card {
  height: 100%;
  padding: 40px;

  background-color: var(--color-light);
  border-radius: 30px;

  @include tablet {
    padding: 20px;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    @include tablet {
      flex-direction: column-reverse;
    }
  }

  &__content {
    @include tablet {
      margin-top: 20px;
    }
  }

  &__title {
    @include fontH3;

    @include tablet {
      @include fontT1;
    }
  }

  &__description {
    @include fontT1;
    margin-top: 20px;

    color: var(--color-gray);

    @include tablet {
      @include fontT3;
    }
  }

  &__logo {
    width: 160px;
    height: 70px;
    margin-left: 7px;

    @include tablet {
      width: 170px;
      height: 60px;
      margin-left: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: right;

      @include tablet {
        object-position: left;
      }
    }
  }

  &__body {
    margin-top: 40px;

    @include tablet {
      margin-top: 20px;
    }
  }

  &__text {
    @include fontT2;

    text-align: justify;
    max-width: 720px;

    @include tablet {
      @include fontT3;
    }
  }
}
