@use '../../base/helpers' as *;

.filter-checkbox {
  $self: &;

  @include fontT2;

  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-light);
  border-radius: 40px;
  user-select: none;
  transition: var(--transition-duration) ease-in;
  border: 2px solid var(--color-accent-alt);
  color: var(--color-dark);

  @include hover {
    color: var(--color-accent-secondary);
    border-color: var(--color-accent-secondary);

    #{$self}__mark {
      border-color: var(--color-accent-secondary);
    }

    #{$self}__input {
      &:checked + #{$self}__mark {
        background: var(--color-accent-secondary);
      }
    }
  }

  @include tablet {
    @include fontT3;

    padding: 8px 12px;
  }

  &__input {
    display: none;

    &:checked + #{$self}__mark {
      background: var(--color-accent-alt);
    }
  }

  &__mark {
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid var(--color-accent-alt);
    border-radius: 3px;
    margin-right: 10px;
    transition: var(--transition-duration) ease-in;

    @include tablet {
      width: 12px;
      height: 12px;
    }
  }
}
