@use '../../base/helpers' as *;

.product-card {
  $self: &;

  position: relative;
  width: 100%;
  height: 100%;
  text-decoration: none !important;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 40px 20px;
    border: 2px solid transparent;
    overflow: hidden;
    transition: var(--transition-duration) ease;
    background-color: var(--color-light);
    z-index: 1;

    @include tablet {
      padding: 20px;
    }

    &:hover {
      border-color: var(--color-accent-secondary);

      #{$self}__link {
        color: var(--color-accent-secondary);
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    img {
      display: flex;
      width: 85%;
      height: 85%;
      object-fit: contain;
    }
  }

  &__content {
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 10px;
    }
  }

  &__title {
    @include fontH2;

    @include tablet {
      @include fontH3;
    }
  }

  &__description {
    @include fontT2;
    margin-top: 20px;

    color: var(--color-gray);

    @include tablet {
      @include fontT4;

      margin-top: 10px;
    }
  }

  &__link {
    margin-top: auto;

    transition: color var(--transition-duration) ease-in;
    color: var(--color-accent);
    text-decoration: underline;
  }
}
