@use '../../base/helpers' as *;

.card-slider {
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  position: relative;

  @include tablet {
    height: auto;
  }

  &__item {
    position: sticky;
    width: 100%;
    margin-bottom: 20px;

    @include tablet {
      position: static;
      opacity: 1;
      margin-bottom: 0;
    }
  }

  &__slider {
    position: relative;
    width: 100%;
    min-height: 440px;

    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 20px 0;
      min-height: auto;
    }
  }

  &__content {
    max-width: 750px;

    ul {
      @include list;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    @include tablet {
      width: 183px;
      flex-shrink: 0;
    }
  }
}
