@use '../../base/helpers' as *;

.card-slider {
  height: 50vh;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  position: relative;

  @include tablet {
    height: auto;
  }

  &__item {
    position: absolute;
    top: 0;

    @include tablet {
      position: static;
    }
  }

  &__slider {
    position: relative;
    width: 100%;
    min-height: 440px;

    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 20px 0;
      min-height: auto;
    }
  }

  &__content {
    max-width: 750px;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    @include tablet {
      width: 183px;
      flex-shrink: 0;
    }
  }

  &__list {
    @include fontT2;

    padding-top: 24px;
    padding-left: 30px;
    list-style: disc;

    @include tablet {
      padding-top: 10px;
    }

    li {
      &:not(:first-child) {
        margin-top: 14px;
      }
    }
  }
}
