@use '../../base/helpers' as *;

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 110px;

  @include tablet {
    margin-top: 20px;
  }

  @include mobile {
    margin-top: 80px;
  }

  &__wrapper {
    position: relative;
    padding: 60px 12px;
    text-align: center;

    @include tablet {
      width: 100%;
      max-width: 355px;
      padding: 73px 0;
    }
  }

  &__title {
    @include fontT5;

    color: var(--color-dark);

    @include tablet {
      @include fontT6;
    }
  }

  &__subtitle {
    @include fontT1;
    margin-top: 10px;
  }

  &__button {
    margin-top: 80px;

    @include tablet {
      margin-top: 40px;
    }
  }
}
