@use '../../base/helpers' as *;

.logos {
  &__wrapper {
    padding: 20px 0;

    border-radius: 20px;
    background: var(--background-violet-gradient);

    @include tablet {
      border-radius: 15px;
    }
  }
}
