@use '../../base/helpers' as *;

.mission {
  &__wrapper {
    display: flex;
    gap: 0 30px;

    @include tablet {
      align-items: flex-start;
    }

    @include mobile {
      flex-direction: column-reverse;
      gap: 20px;
    }
  }

  &__image {
    width: 100%;
    flex: 1 0 491px;
    background-color: var(--color-dark);
    border-radius: 30px;
    position: relative;
    overflow: hidden;

    @include tablet {
      flex-basis: 355px;
      height: 344px;
    }

    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);


      @include tablet {
        top: auto;
        bottom: 0;
      }
    }
  }

  &__content {
    padding: 40px;
    border-radius: 20px;
    background-color: var(--color-light);
    border: 2px solid var(--color-accent-alt);

    @include tablet {
      padding: 20px;
      border-radius: 20px;
    }
  }

  &__title {
    @include fontH1;

    @include tablet {
      @include fontH4;
    }
  }

  &__text {
    @include fontT2;

    margin-top: 40px;

    @include tablet {
      @include fontT4;

      margin-top: 20px;
    }
  }
}
