@use '../../base/helpers' as *;

.result {
  $self: &;

  &__wrapper {

  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 570px;
    background-color: var(--color-light);
    border-radius: 20px;
    border: 2px solid var(--color-accent-alt);

    @include tablet {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      border-radius: 20px;
    }
  }

  &__list {
    @include list {
      li {
        max-width: 460px;

        @include tablet {
          max-width: 400px;
        }
      }

      @include tablet {
        @include fontT2;
      }
    };
  }

  &__title {
    @include fontH3;

    display: inline-flex;
    padding: 4px 16px;
    border-radius: 40px;
    color: var(--color-light);
    background-color: var(--color-accent-secondary);
  }

  &__past {
    padding: 40px;

    @include tablet {
      padding: 20px 20px 40px;
    }

    #{$self}__title {
      background-color: var(--color-accent-alt);
    }
  }

  &__future {
    border: 2px solid var(--color-accent-secondary);
    border-radius: 20px;
    padding: 40px;
    margin: -2px;
    max-height: 570px;

    @include tablet {
      padding: 20px;
    }
  }
}
