@use '../../base/helpers' as *;

.team {
  &__wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;

    color: var(--color-light);

    background: var(--color-dark);
    border-radius: 30px;
    padding-right: 80px;

    @include tablet {
      flex-direction: column;
      padding-right: 0;
      border-radius: 15px;
    }
  }

  &__content {
    padding: 40px 60px 40px 40px;
    z-index: 2;

    @include tablet {
      padding: 40px 30px;
    }

    @include mobile {
      padding: 20px;
    }
  }

  &__title {
    @include fontH1;

    @include tablet {
      @include fontH4;
    }
  }

  &__description {
    @include fontT1;

    margin-top: 20px;

    @include tablet {
      @include fontT4;

      margin-top: 10px;
    }
  }

  &__buttons {
    display: flex;
    gap: 10px 30px;
    margin-top: 40px;

    @include tablet {
      margin-top: 20px
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__img {
    position: relative;
    flex: 1 0 360px;
    align-self: flex-end;
    width: 100%;
    z-index: 1;

    img {
      position: absolute;
      bottom: 0;

      @include tablet {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
