@use '../../node_modules/normalize.css/normalize.css';

@use 'base/fonts';
@use 'base/normalize-custom';
@use 'base/globals';

@use "blocks/mixins/button";
@use "blocks/mixins/marquee-line";
@use "blocks/mixins/box-header";
@use "blocks/mixins/project-card";
@use "blocks/mixins/product-card";
@use "blocks/mixins/client-card";
@use "blocks/mixins/slider";
@use "blocks/mixins/arrow-button";
@use "blocks/mixins/input";
@use "blocks/mixins/checkbox";
@use "blocks/mixins/accordion";
@use "blocks/mixins/fancybox";
@use "blocks/mixins/tag";
@use "blocks/mixins/inner-banner";
@use "blocks/mixins/employee-card";
@use "blocks/mixins/filter-checkbox";

@use "blocks/parts/default/header";
@use "blocks/parts/default/footer";
@use "blocks/parts/start-banner";
@use "blocks/parts/team";
@use "blocks/parts/projects";
@use "blocks/parts/products";
@use "blocks/parts/clients";
@use "blocks/parts/logos";
@use "blocks/parts/callback";
@use "blocks/parts/scroll-up";
@use "blocks/parts/card-slider";
@use "blocks/parts/diagnostics";
@use "blocks/parts/case-banner";
@use "blocks/parts/path";
@use "blocks/parts/result";
@use "blocks/parts/logos-slider";
@use "blocks/parts/team-banner";
@use "blocks/parts/history";
@use "blocks/parts/mission";
@use "blocks/parts/team-slider";
@use "blocks/parts/network-slider";

@use 'base/utils';

@import 'aos/dist/aos.css';

.swal2-backdrop-show {
  background-color: #E4E4EE80 !important;
  backdrop-filter: blur(20px);
}

.swal2-show {
  animation: swal2-show-custom 0.3s !important;
}

@keyframes swal2-show-custom {
  0% {
    scale: 0.7;
  }

  100% {
    scale: 1;
  }
}
