section.card-slider
  .container
    .card-slider__slider
      .card-slider__item
        +accordion({
          title: 'Организационная модель',
          id: 1
        })
          .card-slider__content
            ul.card-slider__list
              li Организационная структура - оценка оптимальности структуры и типа управления
              li Стратегия ИТ - оценка наличия стратегии ИТ и ее связанность со стратегией бизнеса, видение ИТ в горизонте нескольких лет
              li Организационный дизайн - анализ правил взаимодействий: между ИТ и бизнесом, между всеми подразделениями в ИТ
              li Управление изменениями - как в компании выстроен процесс подготовки к реализации новых решений и контроля этой работы
          .card-slider__image
            img(src="img/flower-1.png")

      .card-slider__item
        +accordion({
          title: 'Продукт',
          id: 2
        })
          .card-slider__content
            ul.card-slider__list
              li Стратегия продукта и бизнес-модель - оценка наличия стратегий по продуктам компании и ее связанность со стратегий компании
              li Определение периметра продукта и сформулированное ценностное предложение - каким образом в компании внедрен продуктовый подход
              li Процесс поиска возможностей и проверки гипотез - формирование идей и проведение исследований
              li Продуктовые метрики - анализ наличия целей продукта, кпэ продукта и команды, системы метрик и постоянного ритма контроля метрик и мероприятий по их улучшению
          .card-slider__image
            img(src="img/flower-2.png")

      .card-slider__item
        +accordion({
          title: 'Процессы',
          id: 3
        })
          .card-slider__content
            ul.card-slider__list
              li Производственный процесс - оценка логики, измеримости, контролируемости, гибкости и способности к развитию процессов в компании. Оценка discovery и delivery как единого процесса
              li Внутрикомандные процессы - как в командах организованы основные мероприятия (дейли, ретро, демо и др), а также оценка эффективной командной работы
              li Кросс-функциональное взаимодействие - каким образом в компании выстроено сквозное планирование, взаимодействие смежных команд и общая синхронизация планов и бэклогов
              li Процессы incident management&nbsp; - анализ существующего процесса в компании
              li Работа с метриками - анализ существующих метрик эффективности команд/персоналий и постоянного ритма контроля метрик и мероприятий по их улучшению
          .card-slider__image
            img(src="img/flower-3.png")

      .card-slider__item
        +accordion({
          title: 'Технологии',
          id: 4
        })
          .card-slider__content
            ul.card-slider__list
              li Архитектура предприятия - анализ взаимосвязи архитектуры с бизнес-стратегией компании
              li Инфраструктура - оценка имеющихся технологий (аппаратное и системное программное обеспечение, сети и коммуникации) необходимых для создания среды работы приложений
              li Информационная безопасность - оценка достаточного набора мер защиты, которые не влияют негативно на функциональность системы
              li DevOps, CI/CD - анализ применяемых практик и инструментов по оценке работы подразделения DevOps и оценка DORA-метрики
              li Анализ процесса разработки в командах и в этапах производственного процесса компании
              li Анализ процесс тестирования в командах и в этапах производственного процесса компании
          .card-slider__image
            img(src="img/flower-4.png")

      .card-slider__item
        +accordion({
          title: 'Люди',
          id: 5
        })
          .card-slider__content
            ul.card-slider__list
              li Найм/адаптация - как организованы процедуры по входу кандидата в компанию
              li Оценка компетенций - анализ понимания ценности оценки персонала по компетенциям и каким образом выстроен процесс оценки. Анализ инструментов и подходов
              li Целеполагание - анализ процедуры формулирования целей на уровне компании, команд, персоналий. Оценка методов постановки целей
              li Метрики - анализ наличия и показателей метрик текучести, вовлеченности, внутреннего NPS, скорости найма
              li Мотивация - виды финансовой и нефинансовой мотивации
          .card-slider__image
            img(src="img/flower-5.png")
