section.card-slider
  .container
    .card-slider__slider
      .card-slider__item
        .card-slider__content
          .card-slider__title Организационная модель
          ul.card-slider__list
            li Организационная структура - оценка оптимальности структуры и типа управления
            li Стратегия ИТ - оценка наличия стратегии ИТ и ее связанность со стратегией бизнеса, видение ИТ в горизонте нескольких лет
            li Организационный дизайн - анализ правил взаимодействий: между ИТ и бизнесом, между всеми подразделениями в ИТ
            li Управление изменениями - как в компании выстроен процесс подготовки к реализации новых решений и контроля этой работы
        .card-slider__image
          img(src="img/logo-faust.svg")

      .card-slider__item
        .card-slider__content
          .card-slider__title Организационная модель
          ul.card-slider__list
            li Организационная структура - оценка оптимальности структуры и типа управления
            li Организационная структура - оценка оптимальности структуры и типа управления
            li Организационная структура - оценка оптимальности структуры и типа управления
            li Организационная структура - оценка оптимальности структуры и типа управления
            li Организационная структура - оценка оптимальности структуры и типа управления
        .card-slider__image
          img(src="img/logo-faust.svg")

      .card-slider__item
        .card-slider__content
          .card-slider__title Организационная модель
          ul.card-slider__list
            li Организационная структура - оценка оптимальности структуры и типа управления
            li Организационная структура - оценка оптимальности структуры и типа управления
            li Организационная структура - оценка оптимальности структуры и типа управления
            li Организационная структура - оценка оптимальности структуры и типа управления
            li Организационная структура - оценка оптимальности структуры и типа управления
        .card-slider__image
          img(src="img/logo-faust.svg")
