section.case-banner.container
  .case-banner__wrapper
    .case-banner__image
      img(src="img/product-card-image.png")
    .case-banner__head
      .case-banner__title Компания Сompeto
      .case-banner__tags
        +tag({
          text: 'Проект',
          href: '/'
        })
        +tag({
          text: 'Диагностирование',
          href: '/'
        })
    .case-banner__case
      .case-banner__case-header
        .case-banner__case-header-content
          .case-banner__case-title Запрос
          a.case-banner__case-link(href="#") Сайт компании
        img.case-banner__case-logo(src="img/competo-logo.png")
      .case-banner__case-text Компании необходимо внедрить целевой производственный процесс в продуктовые команды с целью повышения эффективности и прозрачности команд. Также необходимо описать текущую архитектуру компании на первых 3-ех уровнях в нотации С4.
