section.clients.container#clients
  .clients__wrapper
    +box-header({
      title: 'Наши клиенты'
    })
      .clients__navigation
        +arrow-button({ direction: 'left' }).swiper-element-clients__prev
        +arrow-button().swiper-element-clients__next

    .clients__cell
      +slider({
        slidesPerView: 2,
        isDisableDesktop: false
      }).swiper-element-clients
        .swiper-slide
          +client-card({
            title: 'Дмитрий Казаков',
            description: 'Директор продуктового развития',
            image: 'img/sber-logo.png',
            text: 'Большое спасибо коллегам из Faust Consulting, которые помогали организовать и провести оценку компетенций Владельцев продуктов всех бизнес-единиц Х5. Задача была непростая: почти 50 владельцев продуктов, сроки менее 2 месяцев, а также отсутствие имеющихся в организации матриц компетенций и профиля владельцев продукта. С задачей справились на 5+ из 5, сильная экспертиза и партнерский подход к решению задачи - позволили справится в описанных выше ограничениях и получить не только быстрый, но и качественный результат!'
          })
        .swiper-slide
          +client-card({
            title: 'Дмитрий Казаков',
            description: 'Директор продуктового развития',
            image: 'img/sber-logo.png',
            text: 'Большое спасибо коллегам из Faust Consulting, Большое спасибо коллегам из Faust Consulting, Большое спасибо коллегам из Faust Consulting, которые помогали организовать и провести оценку компетенций Владельцев продуктов всех бизнес-единиц Х5. Задача была непростая: почти 50 владельцев продуктов, сроки менее 2 месяцев, а также отсутствие имеющихся в организации матриц компетенций и профиля владельцев продукта. С задачей справились на 5+ из 5, сильная экспертиза и партнерский подход к решению задачи - позволили справится в описанных выше ограничениях и получить не только быстрый, но и качественный результат!'
          })
        .swiper-slide
          +client-card({
            title: 'Дмитрий Казаков',
            description: 'Директор продуктового развития',
            image: 'img/sber-logo.png',
            text: 'Большое спасибо коллегам из Faust Consulting, которые помогали организовать и провести оценку компетенций Владельцев продуктов всех бизнес-единиц Х5. Задача была непростая: почти 50 владельцев продуктов, сроки менее 2 месяцев, а также отсутствие имеющихся в организации матриц компетенций и профиля владельцев продукта. С задачей справились на 5+ из 5, сильная экспертиза и партнерский подход к решению задачи - позволили справится в описанных выше ограничениях и получить не только быстрый, но и качественный результат!'
          })
        .swiper-slide
          +client-card({
            title: 'Дмитрий Казаков',
            description: 'Директор продуктового развития',
            image: 'img/sber-logo.png',
            text: 'Большое спасибо коллегам из Faust Consulting, которые помогали организовать и провести оценку компетенций Владельцев продуктов всех бизнес-единиц Х5. Задача была непростая: почти 50 владельцев продуктов, сроки менее 2 месяцев, а также отсутствие имеющихся в организации матриц компетенций и профиля владельцев продукта. С задачей справились на 5+ из 5, сильная экспертиза и партнерский подход к решению задачи - позволили справится в описанных выше ограничениях и получить не только быстрый, но и качественный результат!'
          })
