section.diagnostics.container
  .diagnostics__title Пример отчёта диагностики
  .diagnostics__content
    +arrow-button({ direction: 'left' }).swiper-element-diagnostics__prev
    +slider({
      isSingle: true
    }).swiper-element-diagnostics
      .swiper-slide.diagnostics__slide
        +fancybox({
          original: 'img/diagnostic-2x.png',
          minified: 'img/diagnostic-1x.png'
        })
      .swiper-slide.diagnostics__slide
        +fancybox({
          original: 'img/diagnostic-2x.png',
          minified: 'img/diagnostic-1x.png'
        })
      .swiper-slide.diagnostics__slide
        +fancybox({
          original: 'img/diagnostic-2x.png',
          minified: 'img/diagnostic-1x.png'
        })
      .swiper-slide.diagnostics__slide
        +fancybox({
          original: 'img/diagnostic-2x.png',
          minified: 'img/diagnostic-1x.png'
        })
      .swiper-slide.diagnostics__slide
        +fancybox({
          original: 'img/diagnostic-2x.png',
          minified: 'img/diagnostic-1x.png'
        })
      .swiper-slide.diagnostics__slide
        +fancybox({
          original: 'img/diagnostic-2x.png',
          minified: 'img/diagnostic-1x.png'
        })
      .swiper-slide.diagnostics__slide
        +fancybox({
          original: 'img/diagnostic-1x.png',
          minified: 'img/diagnostic-1x.png'
        })
    +arrow-button().swiper-element-diagnostics__next
