section.error-page.container
  .error-page__wrapper
    .error-page__title 404
    .error-page__subtitle Упс, что-то пошло не так

  +button({
    text: 'Вернуться на Главную',
    href: '/',
    view: 'blue-white'
  }).error-page__button
