section.history.container
  .history__wrapper
    .history__content
      h2.history__title Наша история
      .history__text
        p Меня зовут Сергей Щербинин, я&nbsp;— основатель компании Faust Consulting.
        p Больше 15&nbsp;лет&nbsp;я провёл на&nbsp;позициях топ-менеджера в&nbsp;ИТ&nbsp;крупнейших компаний из&nbsp;нефтяной (Shell), ит&nbsp;(Лаборатория Касперского) и&nbsp;Финансовой (Райффайзенбанк&nbsp;и УБРиР) отраслей.
        p У&nbsp;меня за&nbsp;плечами успешный опыт построения крупных ИТ-организаций (1000+ человек), перестройка бизнес-модели и&nbsp;организационного дизайна, управление стратегией компании.
        p Кроме того, я&nbsp;основатель сообщества #безвотэтоговотвсего, с&nbsp;нетворком в&nbsp;несколько тысяч профессионалов из&nbsp;разных сфер, а&nbsp;это&nbsp;значит у&nbsp;меня быстрый доступ к&nbsp;лучшим умам индустрии.
        p Под&nbsp;брендом Faust Consulting мне&nbsp;удалось объединить уникальную команду консультантов, помогающих компаниям в&nbsp;разных странах мира.
    .history__photo
      img(src='img/owner.png')
