section.inner-banner.container
  .inner-banner__main
    .inner-banner__title Диагностика
    .inner-banner__date 4-6 недель
    img.inner-banner__bg(src='img/blot-2.svg')
    +button({
      text: 'Скачать обезличенный отчёт',
      href: 'img/sample_pdf.pdf',
      view: 'blue-ghost',
      download: true
    })(target="_blank").inner-banner__button
  .inner-banner__content
    .inner-banner__card Мы начинаем с тщательного анализа вашего бизнеса, чтобы понять ваши зоны роста. В течение 4-6 недель команда экспертов проводит детальный анализ ключевых процессов, технологий, организационной модели, бизнес стратегии и работы с продуктом.
    .inner-banner__card Чтобы результат не выглядел формальным отчетом, заключительным этапом мы проводим стратегическую сессию, где определяем инициативы и ответственных за каждый шаг работ для повышения уровня зрелости компании.
      br
      | В результате вы получаете оценку зрелости по 5ти исследуемым областям, набор приоритезированных рекомендаций и дорожную карту изменений.


