section.logos.container
  .logos__wrapper
    +marquee-line({
      hoverStop: true,
      items: [
        { image: 'img/invest-lab-logo.svg', href: '#' }
      ]
    })(target="_blank")
    +marquee-line({
      hoverStop: true,
      direction: 'left',
      items: [
        { image: 'img/invest-lab-logo.svg', href: '#' }
      ]
    })(target="_blank")
    +marquee-line({
      hoverStop: true,
      items: [
        { image: 'img/invest-lab-logo.svg', href: '#' }
      ]
    })(target="_blank")
