section.mission.container
  .mission__wrapper
    .mission__graph
      .mission__graph-image
        img(src='img/graph-flower.png')
        .mission__graph-points
          span.mission__graph-tag Цели
          span.mission__graph-tag Люди
          span.mission__graph-tag Смыслы

    .mission__content
      h2.mission__title Наша миссия
      .mission__text
        p Наша цель - помочь вашей компании зарабатывать больше, изменившись через призму технологий, продуктового подхода и внутренней культуры и мы точно знаем, что для этого нужно делать.
