section.network-slider.swiper--has-pagination.container
  .network-slider__wrapper
    .box-header.network-slider__header(data-aos="fade-up", data-aos-delay="100", class=viewClass)
      .box-header__content
        h2.box-header__title Нетворк команды Faust Cons.
        p.box-header__description Профессионалы, готовые решать ваши задачи
      .network-slider__footer
        .network-slider__filter
          +filter-checkbox({
            title: 'Стратегия',
            name: '0',
            value: 0
          })
          +filter-checkbox({
            title: 'Продукт',
            name: '1',
            value: 1
          })
          +filter-checkbox({
            title: 'Процессы',
            name: '2',
            value: 2
          })
          +filter-checkbox({
            title: 'Архитектура',
            name: '3',
            value: 3
          })
          +filter-checkbox({
            title: 'Ассесмент',
            name: '4',
            value: 4
          })

        .network-slider__navigation
          +arrow-button({ direction: 'left' }).swiper-element-network-slider__prev
          +arrow-button().swiper-element-network-slider__next

    .network-slider__cell
      .swiper.swiper-element-network-slider
        .swiper-wrapper
        //.swiper-pagination.network-slider__pagination

