section.path.container
  .path__wrapper
    +box-header({
      title: 'Наш подход',
      view: 'small'
    })
  .path__steps
    .path__step
      .path__step-title Этап 1:
      .path__step-text Проведение анализа производственного процесса с контрибьюторами и внутри команды, через интервью и воркшоп
    .path__step
      .path__step-title Этап 2:
      .path__step-text Создание целевого производственного процесса для Сompeto и описание текущей архитектуры на 3ех уровнях (контекст, контейнер, компонент)
    .path__step
      .path__step-title Этап 3:
      .path__step-text Пилот по изменению производственного процесса с тремя продуктовыми командами, менторинг delivery manegers, обучение команд
    .path__step
      .path__step-title Этап 4:
      .path__step-text Пилот по изменению производственного процесса с тремя продуктовыми командами, менторинг delivery manegers, обучение команд
    .path__step
      .path__step-title Этап 5:
      .path__step-text Пилот по изменению производственного процесса с тремя продуктовыми командами, менторинг delivery manegers, обучение команд
