section.products.container#products
  .products__wrapper
    +box-header({
      title: 'Наши продукты',
      description: 'Описание данного блока, помогающее  клиенту понять всю ценность и важность проделываемой работы.'
    })

    .products__grid
      +product-card({
        title: 'Диагностика',
        description: 'Мы проводим комплексную диагностику бизнеса, Мы проводим комплексную диагностику бизнеса, чтобы выявить зоны роста и определить приоритетные шаги для повышения зрелости компании.',
        linkName: 'Подробнее',
        bg: 'img/blot.svg',
        href: '#'
      })
      +product-card({
        title: 'Создание/ревью технической стратегии',
        description: 'Мы помогаем создать продуманную стратегию, которая поддерживает бизнес-цели, оптимизирует затраты и повышает эффективность разработки.',
        linkName: 'Подробнее',
        bg: 'img/blot.svg',
        href: '#'
      })
      +product-card({
        title: 'Ассессмент любой роли Product & tech',
        description: 'Мы помогаем компаниям объективно оценить компетенции специалистов, снизить зависимость от незаменимых сотрудников и повысить общую эффективность.',
        linkName: 'Подробнее',
        bg: 'img/blot.svg',
        href: '#'
      })
      +product-card({
        title: 'Разработка модели зрелости Product & tech',
        description: 'Мы разрабатываем модель зрелости Product & Tech, которая помогает компании объективно оценить текущий уровень зрелости команд, выявить точки роста и сформировать понятный путь повышения командной эффективности.',
        linkName: 'Подробнее',
        bg: 'img/blot.svg',
        href: '#'
      })
      +product-card({
        title: 'Оптимизация затрат на ИТ',
        description: 'Мы помогаем компаниям оптимизировать IT-бюджет, выявляя скрытые расходы, снижая затраты на лицензии и поддержку, а также выстраивая прозрачную систему контроля и управления инвестициями в технологии.',
        linkName: 'Подробнее',
        bg: 'img/blot.svg',
        href: '#'
      })
      +product-card({
        title: 'Изменение/внедрение производственного процесса ',
        description: 'Мы совместно с компаниям трансформируем производственные процессы (discovery&delivery), делая их прозрачными, управляемыми и эффективными.',
        linkName: 'Подробнее',
        bg: 'img/blot.svg',
        href: '#'
      })
      +product-card({
        title: 'Работа с архитектурой',
        description: 'Мы участвуем в описании архитектуры компании as is,а также помогаем с концепцией целевой и масштабируемой архитектуры, устраняя технический долг и повышая скорость разработки.',
        linkName: 'Подробнее',
        bg: 'img/blot.svg',
        href: '#'
      })
      +product-card({
        title: 'Проведение стратегических сессий',
        description: 'Мы проводим стратегические сессии, которые помогают команде договориться о приоритетах, сформировать понятное видение будущего и разработать конкретный план реализации.',
        linkName: 'Подробнее',
        bg: 'img/blot.svg',
        href: '#'
      })
      +product-card({
        title: 'Альтура',
        description: 'Мы проводим комплексную диагностику бизнеса, чтобы выявить зоны роста и определить приоритетные шаги для повышения зрелости компании.\n',
        linkName: 'Подробнее',
        bg: 'img/blot.svg',
        href: '#'
      })
