section.projects.container
  .projects__wrapper
    +box-header({
      title: 'Наши проекты',
      description: 'Описание данного блока, помогающее  клиенту понять всю ценность и важность проделываемой работы.'
    })

    .projects__cell
      +slider({
        isDisableDesktop: true,
        hasPagination: true
      }).swiper-element-projects
        .swiper-slide
          +project-card({
            image: 'img/product-card-image.png',
            tag: 'Сайт',
            title: 'История нашего клиента',
            description: 'Клиент обратился к нам для решения сложной задачи.',
            button: {
              text: 'Узнать подробнее',
              href: '/'
            }
          })
        .swiper-slide
          +project-card({
            image: 'img/product-card-image.png',
            tag: 'Проект',
            title: 'История нашего клиента История нашего клиента',
            description: 'Клиент обратился к нам для решения сложной задачи. Клиент обратился к нам для решения сложной задачи.',
            button: {
              text: 'Узнать подробнее',
              href: '/'
            }
          })
        .swiper-slide
          +project-card({
            image: 'img/product-card-image.png',
            tag: 'Проект',
            title: 'История нашего клиента',
            description: 'Клиент обратился к нам для решения сложной задачи.',
            button: {
              text: 'Узнать подробнее',
              href: '/'
            }
          })

        .swiper-slide
          +project-card({
            image: 'img/product-card-image.png',
            tag: 'Проект',
            title: 'История нашего клиента',
            description: 'Клиент обратился к нам для решения сложной задачи.',
            button: {
              text: 'Узнать подробнее',
              href: '/'
            }
          })
        .swiper-slide
          +project-card({
            image: 'img/product-card-image.png',
            tag: 'Проект',
            title: 'История нашего клиента История нашего клиента',
            description: 'Клиент обратился к нам для решения сложной задачи. Клиент обратился к нам для решения сложной задачи.',
            button: {
              text: 'Узнать подробнее',
              href: '/'
            }
          })
        .swiper-slide
          +project-card({
            image: 'img/product-card-image.png',
            tag: 'Проект',
            title: 'История нашего клиента',
            description: 'Клиент обратился к нам для решения сложной задачи.',
            button: {
              text: 'Узнать подробнее',
              href: '/'
            }
          })

        .swiper-slide
          +project-card({
            image: 'img/product-card-image.png',
            tag: 'Проект',
            title: 'История нашего клиента',
            description: 'Клиент обратился к нам для решения сложной задачи.',
            button: {
              text: 'Узнать подробнее',
              href: '/'
            }
          })
        .swiper-slide
          +project-card({
            image: 'img/product-card-image.png',
            tag: 'Проект',
            title: 'История нашего клиента История нашего клиента',
            description: 'Клиент обратился к нам для решения сложной задачи. Клиент обратился к нам для решения сложной задачи.',
            button: {
              text: 'Узнать подробнее',
              href: '/'
            }
          })
        .swiper-slide
          +project-card({
            image: 'img/product-card-image.png',
            tag: 'Проект',
            title: 'История нашего клиента',
            description: 'Клиент обратился к нам для решения сложной задачи.',
            button: {
              text: 'Узнать подробнее',
              href: '/'
            }
          })

      //.projects__footer
      //  +button({
      //    text: 'Загрузить больше'
      //  }).projects__load-more-button
