section.result.container
  .result__wrapper
    +box-header({
      title: 'Результат',
      view: 'small'
    })

    .result__content
      .result__past
        .result__title Было:
        .result__list
          li Разный флоу в каждой команде, Discovery флоу отсутствует.
          li Фиктивные встречи, сводящиеся к статусу по задачам.
          li Отсутствие методологии метрик и мероприятий.
      .result__future
        .result__title Стало:
        .result__list
          li Единый флоу для всех команд и всех ролей в командах.
          li Мероприятие по кросс-чеку зависимых задач и общее квартальное планирование.
          li Разработана методология расчета метрик эффективности и настройка в трекере, база знаний по ключевым этапам процесса.
