section.team-banner.container
  .team-banner__wrapper
    .team-banner__content
      h1.team-banner__title Команда Faust Consulting
      .team-banner__bg
        img(src="img/blot.svg")
    .team-banner__card
      p В&nbsp;современном мире только ленивый не&nbsp;говорит о&nbsp;том, что&nbsp;нужно трансформироваться. Бежать в&nbsp;два&nbsp;раза быстрее, чтобы&nbsp;оставаться на&nbsp;месте. Многие компании предлагают сделать трансформацию за&nbsp;вас, не&nbsp;особо задаваясь вопросами смыслов и&nbsp;целей. Мы&nbsp;точно знаем, как&nbsp;помочь вашей компании стать быстрее, добиться своих целей и&nbsp;стать эффективнее.
      p Мы&nbsp;отличаемся от&nbsp;обычных консультантов практическим опытом. Все, о&nbsp;чем&nbsp;мы говорим, мы&nbsp;проживали сами в&nbsp;разных компаниях. Помимо красивых фреймворков мы&nbsp;хорошо знаем лучших экспертов индустрии, готовых подключиться к&nbsp;решению ваших задач.
