extends ../layouts/_default.pug

block variables
  - const pageTitle = "Главная страница";
  - const pageDescription = "Некоторое описание главной страницы";
  - const pageLink = "";

block header
  style.
    body {
      padding: 20px;
      background: lightgray;
    }

    main {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 10px;
    }

block content
  +button({
    text: 'Начнем работать',
    href: '/'
  })
  +button({
    text: 'Начнем работать',
    href: '/',
    view: 'blue-white'
  })
  +button({
    text: 'Начнем работать',
    href: '/',
    view: 'white'
  })
  +button({
    text: 'Начнем работать',
    href: '/',
    view: 'white-ghost'
  })
  +button({
    text: 'Начнем работать',
    href: '/',
    view: 'blue-ghost'
  })
