extends ../layouts/_default.pug

block variables
  - const pageTitle = "Faust Consulting: Управление со смыслом";
  - const pageDescription = "Faust Consulting предлагает профессиональные консультационные услуги в области стратегии цифровизации, организационного дизайна, производственных процессов IT, проектного управления, и IT-архитектуры.";

block content
  +innerBanner({
    title: 'Диагностика',
    date: '4-6 недель',
    button: {
      text: 'Скачать обезличенный отчёт',
      href: 'img/sample_pdf.pdf',
      view: 'blue-ghost',
      download: true
    },
    cards: [
      ['Мы начинаем с тщательного анализа вашего бизнеса, чтобы понять ваши зоны роста. В течение 4-6 недель команда экспертов проводит детальный анализ ключевых процессов, технологий, организационной модели, бизнес стратегии и работы с продуктом.'],
      ['Чтобы результат не выглядел формальным отчетом, заключительным этапом мы проводим стратегическую сессию, где определяем инициативы и ответственных за каждый шаг работ для повышения уровня зрелости компании.<br>В результате вы получаете оценку зрелости по 5ти исследуемым областям, набор приоритезированных рекомендаций и дорожную карту изменений.']
    ]
  })
  include ../parts/_card-slider
  include ../parts/_diagnostics
  include ../parts/_projects
  include ../parts/_products
  include ../parts/_callback
