extends ../layouts/_default.pug

block variables
  - const pageTitle = "Faust Consulting: Управление со смыслом";
  - const pageDescription = "Faust Consulting предлагает профессиональные консультационные услуги в области стратегии цифровизации, организационного дизайна, производственных процессов IT, проектного управления, и IT-архитектуры.";

block content
  include ../parts/_card-slider
  include ../parts/_projects
  include ../parts/_products
  include ../parts/_callback
